* {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: robotoLitgh;
}

@font-face {
	font-family: robotoLitgh;
	src: url(fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: robotoRegular;
	src: url(fonts/Roboto-Regular.ttf);
}


html {
	scroll-behavior: smooth;
	min-width: 320px;
}

body {
	background-color: white;
}

/*---------- SCROLL-BAR ----------*/
::-webkit-scrollbar {
	width: 10px;
	background-color: #151515;
}

::-webkit-scrollbar-thumb{
	background-color: #c4c0f0;
}

header {
	display: flex;
	background: #151515;
	position: sticky;
	top: 0;
	height: 100px;
	z-index: 10;
	
}

/*---------- ICONE ----------*/

#logo {
	position: absolute;
	top: 0px;
	right: 100px;
	transition: right 0.4s;
}

#logo img{
	margin-top: 15px;
	width: 70px;
	height: 70px;
}

/*---------- MENU ----------*/

#fecha-menu {
	display: inline-block;
	text-align: right;
	position: absolute;
	top: 20px;
	right: 50px;
}

#fecha-menu p {
	display: none;
	font-size: 40px;
	cursor: pointer;
}

#menu {
	transition: all 0.4s;
	color: white;
	padding-top: 35px;
	padding-left: 100px;

}

#menu ul {
	list-style: none;

}

#menu ul li {
	transition: width 0.4s;
	text-align: center;
	float: left;
	padding: 0px 5px;
}

#menu ul li:hover{
	background-color: #252525;
}

/*---------- MENU LINKS ----------*/
#menu a {
	font-family: robotoLitgh;
	font-size: 22px;
	display: block;
	padding: 5px;
	text-decoration: none;
	color: white;
	transition: transform 0.3s;
}

#menu a:hover{
	transform: scale(1);
	transition: transform 0.8s;
}


/*---------- ICONE MENU ----------*/


#icon-menu {
	position: absolute;
	top: 25px;
	left: -155px;
	transition: left 0.4s;
}


#icon-menu p {
	color: white;
	font-size: 35px;
	padding: 0px 10px 5px 10px;
	background-color: #555273;
	cursor: pointer;
	
}

/*---------- BANNER ----------*/

#banner-fundo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: #555273;
	position: sticky;
	top: 100px;

}

#banners{
	display: flex;
	align-items: center;
	width: 100%;
	
}

#banner-img1{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	transition: margin-left 0.5s;
}

#banner-img2{
	position: fixed;
	top: 100px;
	right: -100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	transition: right 0.5s;
}

#img1{
	max-width: 1320px;
	width: 100%;
}
#img2{
	max-width: 1320px;
	width: 100%;
}

#img1-mobile{
	display: none;
}

#img2-mobile{
	display: none;
}

/*---------- BANNER BOTÃO ----------*/

#input-banner{
	display: none;
}

#label-banner{

	display: flex;
	justify-content: center;
	background-color: #555273;
}

#label-banner label{
	transition: width 0.5s;
	opacity: 0.5;
}

.label-banner{
	border-radius: 10px;
	margin: 0px 10px 5px 10px;
	padding: 3px;
	background-color: white;
	cursor: pointer;
}

#label1-banner{
	width: 300px;
	background-color: #151515;
}
#label2-banner{
	width: 150px;
	background-color: white;
}


/*---------- BANNER MOBILE ----------*/

#banner-mobile{
	display: none;
}

/*---------- CARDAPIO ----------*/


#cardapio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f0f0fa;
	position: relative;
	z-index: 1;
}

.pratos {
	margin-top: 50px;
	padding-bottom: 50px;
	max-width: 1150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}


/*---------- TITULOS ----------*/

.titulo-principal {
	width: 300px;
	padding-top: 110px;
	text-align: center;
}

.titulo-principal p{
	font-size: 30px;
	color: white;
	cursor: context-menu;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3.5px;
	background-color: #555273;
}

/*---------- BOX ----------*/


.box{
	position: relative;
	max-width: 350px;
	max-height: 400px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	box-shadow: 0px 0px 10px 0px rgba(85,82,115,05);
	transition: transform 0.5s;
	cursor: default;
	z-index: 2;

}

.box:hover{
	transform: scale(1.01);
	transition: transform 0.5s;
}

.imagem-box{
	width: 100%;
	height: 300px;
	box-sizing: border-box;

}

.imagem-box img{
	border-radius: 7px;
}


.titulo-box{
	width: 100%;
	height: 100px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	background-color: #555273;
	color: white;
	z-index: 1000;
	border-radius: 0px 0px 7px 7px;

}

.titulo-box p {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: robotoRegular;
}

/*---------- HISTÓRIA ----------*/

#historia {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #f0f0fa;
		
}

.texto-principal {
	max-width: 1100px;
	margin-top: 50px;
	
}

.texto-principal p {
	margin: 10px;
}

/*---------- LOCALIZAÇÃO ----------*/

#localizacao {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #f0f0fa;	
}

#mapa {
	margin-top: 50px;
	max-width: 1100px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;

}
#mapa iframe{
	width: 80%;
	height: 450px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(85,82,115,05);
}

#rua{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #555273;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

/*---------- RODAPÉ ----------*/

footer{
	width: 100%;
	background-color: #151515;
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p{
	color: white;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
}

#imagens-rodape{
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#imagens-rodape a{
	color: none;
	background-color: none;
	border: none;
	margin: 15px;
	height: 15px;
}

#imagens-rodape a:visited{
	color: #151515;
}

#imagens-rodape img{
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 0px 20px;
	width: 40px;
}

/*---------- MEIDA ----------*/


@media(max-width: 1024px){

	/*---------- ICONE LOGO ----------*/

	#logo {
		position: absolute;
		top: 0;
		right: 15px;
		transition: right 0.4s;
	}
	

	#logo img{
		margin-top: 20px;
		width: 60px;
		height: 60px;
	}

	/*---------- ICONE MENU ----------*/

	#fecha-menu p{
		display: block;
		transition: transform 0.8s;
		color: white;
	}

	#fecha-menu p:hover{
		transform: scale(1.05);
		transition: transform 0.8s;
	}

	#icon-menu {
		position: absolute;
		top: 25px;
		left: 15px;
		transition: left 0.4s;
	}

	/*---------- MENU ----------*/

	#menu {
		position: absolute;
		top: 0px;
		left: -800px;
		background-color: /*#555273*/ #151515;
		width: 70%;
		height: 200vh;
		padding-top: 50px;
		padding-left: 0;
	}

	#menu ul {
		margin-top: 50px;

	}

	#menu ul li {
		height: 50px;
		width: 100%;
		float: none;
		padding: 0px 0px;
		line-height: 50px;
		background-color: #151515;
	}
	
	#menu ul li:hover {
		background-color: #252525
	}

	/*---------- MENU LINK ----------*/

	#menu a {
		display: block;
	}

	#menu a:hover {
		background-color: transparent;

	}
	.box:hover{
		transform: none;
	}
}

@media (max-width: 768px){

	/*---------- BANNER ----------*/

	#img-banner img{
		margin-top: 18px;
	}

}

@media (max-width: 732px){
	#img1{
		display: none;
	}
	#img2 {
		display: none;
	}


	/*---------- BANNER MOBILE ----------*/
	#banner-fundo{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		min-height: 700px;
		height: calc(100vh - 100px);
		background-color: #555273;
		position: sticky;
		top: 100px;
		z-index: 0;
	}

	#banners{
		width: 100%;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		
	}


	#grupo-img-banner-mobile img {
		max-width: 350px;
		width: 100%;
	}

	#banner-img1{
		width: 100%;
		height: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0;
		transition: all 0.5s;
		
	}

	#banner-img2{
		position: fixed;
		top: 100px;
		right: -100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 100%;
		transition: all 0.5s;
		
	}
	#img1-mobile {
		max-width: 350px;
		width: 100%;
		display: block;	
	}
	#img2-mobile {
		max-width: 350px;
		width: 100%;
		display: block;	
	}
	
	
	/*---------- BANNER BOTÃO MOBILE  ----------*/

	#label-banner {
		position: fixed;
		top: 95%;
		width: 100%;
	}

}

@media (max-width: 375px) {


	.box{
		width: 280px;
		height: 320px;
	}

	.imagem-box img{
		width: 100%;
	}
	
	.pratos{
		width: 100%;
	}
}